<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оценка защищенности</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<form th:method="POST" th:object="${stages}" action="securityGrade" th:align="center" style="
    padding: 12px 20px;
    margin: 8px 0;
    max-width: 80%;
">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td th:rowspan="2">Показатели</td>
            <td th:colspan="7">Направления защиты</td>
            <td th:rowspan="2">Qсзи</td>
        </tr>
        <tr>
            <td th:each="stageDTOS, itemStat : ${stages.stageDTOS}">
                <span th:text="${itemStat.index+1}"></span>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Качественный</td>
            <td th:each="stageDTO : ${stages.stageDTOS}" th:text="${stageDTO.requirementGroupsFulfillment}"></td>
            <td>[[${qualityGrade}]]</td>
        </tr>
        <tr>
            <td>Количественный</td>
            <td th:each="stageDTO : ${stages.stageDTOS}" th:text="${
                (stageDTO.base.profileComparison +
                stageDTO.structure.profileComparison +
                stageDTO.measures.profileComparison +
                stageDTO.resources.profileComparison) / 4.0
            }"></td>
            <td>[[${quantityGrade}]]</td>
        </tr>
        </tbody>
    </table>


    <script th:inline="javascript">
        window.onload = function() {
            const StageEnum = {
                INFORMATION_TO_BE_PROTECTED: "Определение информации, подлежащей защите",
                IDENTIFICATION_OF_POTENTIAL_THREATS: "Выявление полного множества потенциально " +
                    "возможных угроз и каналов утечки информации",
                ASSESSMENT_OF_VULNERABILITY_AND_RISKS: "Проведение оценки уязвимости и рисков информации " +
                    "при имеющемся множестве угроз и каналов утечки",
                DETERMINATION_OF_REQUIREMENTS_FOR_PROTECTION_SYSTEM: "Определение требований к системе защиты",
                CHOICE_OF_INFORMATION_SECURITY_TOOLS: "Осуществление выбора средств защиты " +
                    "информации и их характеристик",
                IMPLEMENTATION_OF_REMEDIES: "Внедрение и организация использования выбранных мер, " +
                    "способов и средств защиты",
                IMPLEMENTATION_OF_INTEGRITY_CONTROL_AND_MANAGEMENT_OF_SECURITY_SYSTEM: "Осуществление контроля " +
                    "целостности и управление системой защиты"
            }
            Object.freeze(StageEnum)
            var stages = [[${stages.stageDTOS}]];

            var quantityGradeChartDataPoints = [];
            var qualityGradeChartDataPoints = [];

            var qualityGradeChart = new CanvasJS.Chart("qualityGradeChartContainer", {
                theme: "light1",
                animationEnabled: true,
                title: {
                    text: "Качественная оценка этапов"
                },
                axisX:{
                    title: "Блок показателей \"Этапы\""
                },
                axisY:{
                    title:"Уровень защиты",
                    minimum: 0,
                    maximum: 1
                },
                data: [{
                    type: "column",
                    dataPoints: qualityGradeChartDataPoints
                }]
            });

            var quantityGradeChart = new CanvasJS.Chart("quantityGradeChartContainer", {
                theme: "light1",
                animationEnabled: true,
                title: {
                    text: "Количественная оценка этапов"
                },
                axisX:{
                    title: "Блок показателей \"Этапы\""
                },
                axisY:{
                    title:"Уровень защиты",
                    minimum: 0,
                    maximum: 1
                },
                data: [{
                    type: "column",
                    dataPoints: quantityGradeChartDataPoints
                }]
            });

            function addDataPointsForQualityGradeAndRender() {
                for (let i = 0; i < stages.length; i++) {
                    qualityGradeChartDataPoints.push({
                        label: Object.values(StageEnum)[i],
                        y: stages[i].requirementGroupsFulfillment
                    });
                }
                qualityGradeChart.render();
            }

            function addDataPointsForQuantityGradeAndRender() {
                for (let i = 0; i < stages.length; i++) {
                    quantityGradeChartDataPoints.push({
                        label: Object.values(StageEnum)[i],
                        y: (stages[i].base.profileComparison +
                            stages[i].structure.profileComparison +
                            stages[i].measures.profileComparison +
                            stages[i].resources.profileComparison) / 4.0
                    });
                }
                quantityGradeChart.render();
            }

            addDataPointsForQuantityGradeAndRender();
            addDataPointsForQualityGradeAndRender();
        }
    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <div id="qualityGradeChartContainer" style="height: 270px; width: 100%;"></div>
    <div id="quantityGradeChartContainer" style="height: 270px; width: 100%;"></div>

</form>
</body>
</html>